[2014-02-12 14:52] jottinger opened #60 ""multipe" misspelling in ContainerRegistryCreator"
Very minor error, but misspelling of "multiple" as "multipe"

[2014-02-12 15:12] #60 closed, assigned to nobody

[2014-05-23 21:52] joakime opened #68 "Add "Servlet 3.1" Protocol"
There are distinct behavioral (and feature sets) differences between "Servlet 3.0" and "Servlet 3.1", yet "Servlet 3.1" is not a valid choice.

[2014-06-26 13:16] The-Alchemist opened #69 "arquillian setup does not support embedded Wildfly"
[code]

However, according to http://arquillian.org/modules/wildfly-arquillian-wildfly-embedded-container-adapter/, there is support for embedded Wildfly.

[2014-06-26 13:20] #69 closed, assigned to nobody

[2015-01-05 15:58] APIReader opened #73 "ARQ-1896 Make JMX objectname configurable for JMXTestRunner and JMXMethodExecutor."
Currently, JMXTestRunner#runTestMethod(String className, String methodName) expects to find the test class and run the test method using the classloader set in the constructor. This is a problem when my tests are expected to run inside different containers (hence different classloaders). One easy work around is to publish one JMXTestRunner per container (hence unique objectname has to be provided

[2015-01-13 20:16] aslakknutsen commented on #73
fixed by https://github.com/arquillian/arquillian-core/commit/0e5305fb447c5e72268b3280e53b12e6d30678ca

[2015-01-13 20:16] #73 closed

[2015-01-27 17:59] rankinc opened #78 "Linkage error with arquillian-junit.jar"
Hi,

We are trying to test our WAR file using Arquillian and restassured; everything was fine until we upgraded to arquillian-tomcat-embedded-7 1.0.0.CR7 with Tomcat 7.0.55 (from 1.0.0.CR5 with 7.0.47). Now, whenever we try to execute a restassured method whose signature contains a hamcrest Matcher, we are getting a linkage error like this:

java.lang.LinkageError: loader constraint violation: whe

[2015-01-27 18:04] aslakknutsen commented on #78
Could you provide your pom.xml ?

[2015-01-27 18:20] rankinc commented on #78
I doubt the pom.xml will be particularly useful because it is a module in a much larger project:

    <?xml version="1.0" encoding="UTF-8"?>
    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
        <modelVersion>4.0.0</modelVersion>

[2015-04-19 22:26] rankinc commented on #78
I've written a tiny Maven project which reproduces this issue: raised as ARQ-1944.

[2015-06-22 15:14] CSchulz opened #86 "Original exception lost when thrown from @Before-annotated method"
I have recognized that there seems to be an issue with JUnit and Arquillian.

If there is an exception in @before-annotated method, it seems to be lost. There is no entry in the log neither the test will be aborted instantly.
[code]

A NPE occurs in @after-annotated method. The @test-annotated method doesn't fail fast.

Here the console output:
[code]

I am using Arquillian JUnit Container 1.1.8.F

[2015-07-09 08:14] CSchulz commented on #86
I think I have found the issue. testFailure is called from outside and override an existing exception https://github.com/arquillian/arquillian-core/blob/e39433696861f11588180894378c32f795da8085/junit/container/src/main/java/org/jboss/arquillian/junit/container/JUnitTestRunner.java#L110

This exception is used to create the testresult:
https://github.com/arquillian/arquillian-core/blob/e39433696861

[2015-07-28 15:25] lordofthejars opened #88 "Add System Environment resolution"
As discussed in http://discuss.arquillian.org/t/arquillian-xml-alternative-format/206/12, you can configure arquillian using properties file or system properties (`System.getProperties`). Now it has been added support for configuring arquillian from system environment properties (`System.getenv`).

Moreover the override rules has been changed so that properties of the system has more precedence th

[2015-07-29 01:24] aslakknutsen commented on #88
Core uses JIRA, created https://issues.jboss.org/browse/ARQ-1966

[2015-07-29 01:24] #88 closed

[2015-07-29 11:09] AlexBischof opened #90 "Add ParameterRule"
Is it possible to add one of the following two ParameterRule implementations into arquillian-core so that i can simply use the combination of Arquillian and Parameterized without having a project ParameterRule in my source code?

http://www.poolik.com/2014/02/how-to-run-parameterized-junit-arquillian-tests/
https://gist.github.com/aslakknutsen/1358803

[2016-01-29 02:40] talawahdotnet commented on #78
I ran into this error using arquillian-tomcat-embedded with Tomcat 7.0.52 and 8.0.28. It appears that a change was made to the which classloader is used by default for Tomcat versions after 7.5.0:

https://bz.apache.org/bugzilla/show_bug.cgi?id=55943
https://tomcat.apache.org/tomcat-7.0-doc/changelog.html#Tomcat 7.0.51 (violetagg)
https://tomcat.apache.org/tomcat-8.0-doc/class-loader-howto.html#Cl

[2016-01-29 17:06] rankinc commented on #78
Alternatively, if your tests are only running _as a client_ against an embedded Tomcat then you can also work around this by not including the Arquillian JARs in your deployment in the first place.
`@Deployment(testable = false)` will achieve this, and then you annotate your test classes as `@RunAsClient`.

[2016-02-03 15:51] aslakknutsen commented on #86
@CSchulz Yes, I believe you are correct. I guess we could expand on this and collect 'all' exceptions :)

[2016-02-03 15:51] #86 closed

[2016-03-10 16:18] puntogil opened #100 "File without license headers"
Hi
The following source file is without license headers:
./testng/core/src/main/java/org/jboss/arquillian/testng/TestDataProviderTransformer.java
Please, add license header
https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Clarification
Thanks in advance
Regards

[2016-03-10 16:21] puntogil commented on #100
Sorry for the noise
also these one are unlicensed:
./testng/container/src/test/java/org/jboss/arquillian/testng/container/ShouldProvideConfigurationFailureToTestRunner.java
./testng/container/src/test/java/org/jboss/arquillian/testng/container/ShouldProvideVariousTestResultsToTestRunner.java

[2016-03-10 16:23] aslakknutsen commented on #100
They are not unlicensed; https://github.com/arquillian/arquillian-core/blob/master/LICENSE

[2016-03-10 16:56] puntogil commented on #100
yes, i know. but For Fedora this is an issue

[2016-03-16 12:46] #100 closed

[2016-03-21 18:51] puntogil commented on #100
Sorry for the moise found also these file without license headers:
./build/ide/eclipse/templates/junit/ArquillianJUnitTest.java
./build/ide/netbeans/templates/JUnit/ArquillianJUnitTest.java
./container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/enricher/resource/RemoteResourceCommand.java
./container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/e

[2016-03-21 20:59] puntogil opened #101 "File without license headers 2"
Sorry for the noise ...
The following source file is without license headers:
./build/ide/eclipse/templates/junit/ArquillianJUnitTest.java
./build/ide/netbeans/templates/JUnit/ArquillianJUnitTest.java
./container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/enricher/resource/RemoteResourceCommand.java
./container/test-impl-base/src/main/java/org/jboss/arquillian/container/

[2016-07-04 11:21] #101 closed

[2016-08-10 20:00] jcon321 opened #111 "EventTestRunnerAdaptor is not of expected type interface TestRunnerAdaptor"
I have a maven project which I am deploying to a remote wildfly docker container. The EAR is deployed successfully and the tests are attempted but I am receiving this stack trace...

[code]

my BookTest class

[code]

my pom.xml

[code]

my arquillian.xml

[code]

[2016-08-11 14:14] jcon321 commented on #111
Sorry close this issue, because it works now!!

I had to add this dependency

[code]

[2016-08-11 14:14] #111 closed

[2016-08-11 14:15] bartoszmajsak commented on #111
I was about to write that it might a problem of classloading / mismatch of dependencies, but you have sorted it out quicker :) Glad it works now.

[2016-10-27 15:26] lordofthejars opened #114 "[Question] Why NPE if ResourceProvider returns null"
If you take a look at https://github.com/arquillian/arquillian-core/blob/master/test/impl-base/src/main/java/org/jboss/arquillian/test/impl/enricher/resource/ArquillianResourceTestEnricher.java#L131 you see that if a `ResourceProvider` returns a null, then an exception is thrown. I think that it should log as warning/info and return the null value. Maybe in any ResourceProvider might be important

[2016-11-01 23:38] jwendell opened #115 "Hard to discover why an @Observer method is not being invoked"
If someone writes a method with @Observer annotation and supply an argument that's impossible to be injected, that method will never be invoked.

But...

The user might have a hard time trying to find out the reason.

It would be good if we had some kind of warning printed out. It'd save us some time :)

[2016-11-02 08:52] #115 closed

[2016-11-04 22:57] puntogil opened #117 "testng 6.9.12+"
hi
any plan for update testng to 6.9.12 or major?
thanks in advance
regards

[2016-11-11 15:02] puntogil commented on #117
There is still a problem
/testng/core/src/test/java/org/jboss/arquillian/testng/TestNGTestBaseClass.java:[211,36] incompatible types: java.lang.String cannot be converted to org.testng.xml.XmlSuite.FailurePolicy

[2016-11-11 15:07] bartoszmajsak commented on #117
Can you share `mvn --version` output?

[2016-11-11 15:09] puntogil commented on #117
from http://koji.fedoraproject.org/koji/watchlogs?taskID=16403850
maven 3.4.0-0.2.20160807git9f2452a

[2016-11-11 15:11] puntogil commented on #117
the problem is testng 6.9.12

[2016-11-11 15:12] puntogil commented on #117
because on my system i use testng 6.9.10 and maven 3.3.9

[2016-11-11 15:13] bartoszmajsak commented on #117
I see. We updated to 6.9.10 because of https://github.com/cbeust/testng/issues/1168
Unless this is fixed I guess it's risky to go higher.

[2016-11-11 15:15] puntogil commented on #117
I dont know if is correct but seem 6.9.12 is not involved

[2016-11-11 15:17] bartoszmajsak commented on #117
Is it crucial for you to have 6.9.12? Maybe we wait until they ship new release?

[2016-11-11 15:21] puntogil commented on #117
no, i remove the arquillian-testng-core test suite from the build ...
thanks and sorry for the noise

[2016-11-11 15:26] bartoszmajsak commented on #117
It's fine, no noise. Thanks for your feedback! We will update TestNG to the newest one when they fix it. It seems this is also affecting versions prior to 6.9.10. What are you testing it for?

[2016-11-11 15:48] puntogil commented on #117
I was trying to import tool-tracker ...

[2016-11-30 08:23] bartoszmajsak commented on #117
@dipak-pawar there is a new release of TestNG 6.10 - can you update and verify if that works?

[2016-11-30 08:44] dipak-pawar commented on #117
sure @bartoszmajsak

[2017-02-10 14:05] iocanel opened #123 "ResourceProvider canProvide() should also accept Qualifiers as arguments."
Currently arquillian only checks type inside `canProvide` and ignores qualifiers. This is really limiting as we can have multiple resource providers per type.

For example inside arquillian-cube the StandaloneCubeUrlResourceProvider is only meant to handle URLs annotated with `@DockerUrl`, but its canProvide() will return true for all URLs. This prevents me from creating and using something like a

[2017-03-09 05:50] hemanik opened #125 "[Documentation] Move old documentation from Confluence to corresponding modules on Github"
##### Issue Overview

Most of the documentation we have for Arquillian and its extensions is now  stored in [confluence](https://docs.jboss.org/author/display/ARQ/Reference+Guide). This has certain limitations:

  * less friendly for contributors
  * harder to find as it does not sit next to the code

##### Expected Behaviour
Move all documentation to relevant repositories and convert it to asciid

[2017-04-21 11:07] bartoszmajsak commented on #123
I was thinking about the same lately, but for this we would need to pass "injection point", not the type itself. Requires quite a bit of work, but definitely helpful.

[2017-05-08 06:19] dipak-pawar opened #128 "Update arquillian-core to TestNG 6.12 (when released)"
##### Issue Overview
Currently arquillian-core is using testng 6.9.10. Update it to use latest testng i.e. 6.11

[2017-05-08 07:02] bartoszmajsak commented on #128
We have it already covered by JIRA ticket, no need for duplication here.

[2017-05-08 07:03] dipak-pawar commented on #128
I need to refer it in testng upstream, so I created it

[2017-05-08 07:08] bartoszmajsak commented on #128
Not sure why it's required, but if so, then for meaningful traceability I would suggest to give more context in this issue.

[2017-05-08 08:40] dipak-pawar commented on #128
this depends on cbeust/testng#1427

[2017-05-08 09:35] bartoszmajsak commented on #128
@dipak-pawar can you comment on JIRA about the findings?

[2017-05-08 09:37] dipak-pawar commented on #128
sure @bartoszmajsak

[2017-05-11 06:21] dipak-pawar commented on #128
testng team accepted issue cbeust/testng#1426, merged pr cbeust/testng#1432. Now waiting to release new version of testng.

[2017-05-11 12:21] bartoszmajsak commented on #117
Reopening as we are going to fix it in next release (see #128)

[2017-08-11 12:52] bartoszmajsak commented on #128
There is a new version released, but not published yet to Maven Central. https://bintray.com/cbeust/maven/testng/6.12

With this I can confirm that all works fine.

[2017-08-11 12:53] bartoszmajsak commented on #117
There is a new version released, but not published yet to Maven Central. https://bintray.com/cbeust/maven/testng/6.12

With this I can confirm that all works fine.

We have to wait however until the new version of TestNG lands in Maven Central :(

[2017-09-18 08:56] #125 closed

[2017-11-13 06:31] bartoszmajsak opened #137 "JUnit 5 integration spike"
##### Issue Overview

JUnit 5 Final has been around for a while and we see more demand to bring integration with Arquillian for the community.

Goal of this spike is to explore what needs to be implemented and plan following tasks based on this.

There has been a discussion on the [forum](http://discuss.arquillian.org/t/support-for-junit5/573?u=ondrejm) and a [PoC](https://github.com/OndrejM/arqui

[2017-11-13 15:05] MatousJobanek commented on #137
Based on my very short investigation, we will probably need to create our own [TestEngine](http://junit.org/junit5/docs/current/api/org/junit/platform/engine/TestEngine.html). The PoC you have referenced is using an approach of the extensions (callbacks) when you don't have the context of the whole test suite. If I understand it correctly, this is something similar to the current `@Rule`s and `@Cl

[2017-11-13 15:07] bartoszmajsak commented on #137
Thanks checking it out. What are the next steps then?

[2017-11-14 08:44] MatousJobanek commented on #137
Definitely, spend more time with the JUnit 5 extensions - if there is some way of getting the whole test-suite context - eg. from the storage that is provided by JUnit. If not, then start moving the old runner logic to a new `ArquillianTestEngine`.
One of the first steps would be also taking a look at this PR: https://github.com/arquillian/arquillian-core/pull/107 as it contains logic that would a

[2017-11-24 05:53] dipak-pawar opened #140 "Lookup value is null if classpath contains multiple ResourceProviders which canProvide lookup"
##### Issue Overview
Currently ArquillianResourceTestEnricher is doing lookup for first provider from the classpath which can provide lookup. You can check code [here](https://github.com/arquillian/arquillian-core/blob/master/test/impl-base/src/main/java/org/jboss/arquillian/test/impl/enricher/resource/ArquillianResourceTestEnricher.java#L107)

If classpath contains multiple providers which can pr

[2017-11-27 10:37] dipak-pawar opened #143 "Provide a way to give precedence to ResourceProvider if multiple providers can provide resource of same type"
##### Issue Overview
If multiple resource providers are on classpath which can provide resource of required type. Then arquillian takes first resource provider found on classpath.

There should be some way to provide precedence  using which arquillian can return the required resource.

Also we should think for  two different extensions having the same precedence while implementing this to avoid pr

[2017-11-27 12:58] #140 closed

[2017-11-27 13:07] #128 closed

[2017-11-27 13:07] #117 closed

[2017-11-27 18:43] bartoszmajsak opened #144 "Moving towards next major version"
This issue is to gather important things to consider when moving to next majore Arquillian version. Please add more in the comments.

- [ ] JUnit 5
- [ ] Java 8 / 9

[2017-11-30 11:43] MatousJobanek commented on #144
- [ ] Resouce providers - add more constraints for `canProvide` method - qualifiers
- [ ] sub-suite deployment with a help of Smart Testing tool and a new custom strategy that would group tests that belong to the same suite
- [ ] Parametrized Arquillian runner: https://github.com/spriadka/testsuite/blob/infinispan-testcase-expansion/common/src/main/java/org/jboss/hal/testsuite/util/junit/Arquillia

[2017-12-05 10:44] dipak-pawar commented on #137
Looks like as per Matous's above comment we don't have suite context if we decided to go through junit 5 extension. https://github.com/junit-team/junit5/issues/1145.

Now if we decided to go with implementing custom TestEngine for Arquillian. We will be having lot of duplications from junit-jupiter-engine due to final & private variable.

Also I found this interesting comment - https://github.com/

[2017-12-13 11:41] dipak-pawar opened #145 "Provide Arquillian as JUnit Rule"
Looks like there is some work already did for this feature in #107.

Step steps for this as follows:

- [x] Fix/Update failing tests
- [x] Document behavior of method scoped Field Injection
- [x] Document behavior of custom TestRule if it depends on Arquillian Rule
- [x] Refactor all changes. Try to make it abstract.
- [x] Detection of runner vs rule conflict

[2017-12-13 17:25] MatousJobanek commented on #137
So, I've tried to create the integration using a combination of a new  `TestEngine` implementation with JUnit 5 extension implementation.
The engine is necessary for having the context of the whole test suite and for starting and stopping of the containers. The extension is for managing the lifecycle on the level of test classes and test methods.

During the implementation I found a few obstacles:

[2017-12-14 22:54] vinsguru opened #146 "Arquillian does not execute the tests inside a jar"
Arquillian tests inside a jar does not get executed

I have added a reproducible project here - https://github.com/vinsguru/arquillian-testng-package

1. run `mvn clean test`   -- you could see arquillian launching browser etc. Do not worry if the test passes or not for the time being.
In stand-alone mode it executes just fine.

Now lets create a jar with all the dependencies.

2. `mvn clean packa

[2017-12-14 22:56] vinsguru commented on #146
@aslakknutsen Can you please look into this?

[2017-12-21 03:52] vinsguru commented on #146
I was thinking, it is something to do with Arquillian base class for TestNG. Looks like it is TestNG issue. TestNG maintainers provided a workdorund for this issue.

[2017-12-21 03:52] #146 closed

[2017-12-21 11:09] dipak-pawar opened #149 "Getting false positive for in container tests using new Arquillian JUnit Rule"
*Steps to Reproduce*
* Take a clone of https://github.com/dipak-pawar/arquillian-test-examples
* cd junit5-arquillian-rules
* Change `org.jboss.arquillian.junit:arquillian-junit-container` to 1.2.0.Final
* Run `mvn clean test`

*Expected Result*
All test should not pass.
Pass: 1, Fail: 1, Skip: 1

*Actual Result*
all tests are passing

[2017-12-22 10:54] urbandroid opened #151 "running deploymentExportExploded= true after deploymentExportExploded = false or vice versa without mvn clean throws illegal argument exception"
Bug report

Issue Overview

"Cannot export a stream file to existing directory"   after deploymentExportExploded property change.

Expected Behaviour
same as when property not changed.

Current Behaviour
java.lang.IllegalArgumentException: Cannot export a stream file to existing directory: ...

Steps To Reproduce
1. Run test with deploymentExportExploded= true
2. change deploymentExportExploded to

[2017-12-22 10:58] dipak-pawar commented on #151
Can you share small reproducible project for this bug?

[2017-12-22 11:01] urbandroid commented on #151
just take any exemplary arquillian project and in arquillian.xml
    <engine>
       <property name="deploymentExportPath">target/deployments</property>
       this line -> <property name="deploymentExportExploded">true</property>
    </engine>
 change  marked line accordingly.

[2017-12-22 11:09] dipak-pawar commented on #151
This is confusing to me. It'll be good if you share your `arquillian.xml` which can reproduce bug.

[2017-12-22 11:35] dipak-pawar commented on #151
@urbandroid Thanks for reporting this issue. I can reproduce it using following steps:

Steps To Reproduce:
* git clone https://github.com/dipak-pawar/arquillian-showcase
* `git checkout core_151`
* `cd junit5-vintage`
* `mvn clean test`
* Change `<property name="deploymentExportExploded">true</property>` to `<property name="deploymentExportExploded">false</property>` from arquillian.xml.
* `mvn t

[2017-12-22 15:02] dipak-pawar commented on #151
@urbandroid I have provided fix for this issue in #152. You can verify it.

[2018-01-03 10:10] MatousJobanek commented on #149
closed via #150

[2018-01-03 10:10] #149 closed

[2018-01-03 10:12] MatousJobanek commented on #145
Closed via #147

[2018-01-03 10:12] #145 closed

[2018-01-12 23:39] btrajkovski commented on #144
It would nice if we have the possibility to run all tests on a single deployment of container. Very similar to what this library is doing https://github.com/ingwarsw/arquillian-suite-extension. Right now it is pretty popular and It would be a good idea to add is as out-of-the-box feature I think.

[2018-01-17 16:29] MatousJobanek commented on #137
As the Arquilian engine for JUnit 5  is not feasible for now, I've been trying to create an extension that would do similar work as JUnit 4 Arquillian Rules do.

**JUnit 5 versions**
I'm been working with JUnit 5 `5.1.0-M1` and Platform Launcher `1.1.0-M1`

**Code**
The resulting code can be found here: https://github.com/MatousJobanek/arquillian-core/tree/junit5-extension
The specific JUnit 5 mod

[2018-01-18 10:15] OndrejM commented on #137
I've tried the approach of creating a JUnit5 extensions almost a year ago when I started this discussion (I'm the Payara folk mentioned above). I came to a similar conclusion as @MatousJobanek - it's not possible to intercept test execution so that it's routed to the test executed in the container. The only thing I could do is to run the test in the Arquillian container before it was executed by J

[2018-01-18 11:37] ivankelly opened #153 "NPE on shutdown using arquillian cube"
##### Issue Overview

I get an NPE on shutdown, when arquillian cube is trying to kill a container. The NPE occurs while firing an event. It trying to get a scoped context, which is null, so triggers an NPE.

[code]

##### Expected Behaviour

No NPE, the docker container should be deleted.

##### Current Behaviour

NPE, docker container orphaned.

##### Steps To Reproduce
1. Pull https://github.co

[2018-01-18 12:38] dipak-pawar commented on #153
@ivankelly Thanks for reporting this issue. This is related to https://github.com/arquillian/arquillian-cube/. I opened  https://github.com/arquillian/arquillian-cube/issues/957.

@bartoszmajsak You can close this

[2018-01-18 12:51] bartoszmajsak commented on #153
@ivankelly many thanks for your time spent on such a detail report and reproducer project. Fix is on the way thanks to @dipak-pawar.

Closing as moved to Cube.

[2018-01-18 12:51] #153 closed

[2018-01-18 13:56] ivankelly commented on #153
Thanks @dipak-pawar & @bartoszmajsak . I assumed it was core, since that's where the NPE is.

[2018-01-18 15:31] MatousJobanek commented on #137
Hi @OndrejM,
I saw your work. I was curious if there had been changed something in the JUnit 5 from the time you were trying it which would make the implementation feasible. There have been changed and fixed a lot of things, unfortunately, a possibility to provide a custom test method runner is still missing. I've created an issue for it: https://github.com/junit-team/junit5/issues/1248
My extensi

[2018-01-22 19:04] #151 closed

[2018-01-23 17:42] tevans78 opened #157 "Automatically adding the test class can cause duplicate class problems"
Automatically adding the test class to the application archive can result in duplicate classes within the application. In some cases, such as when the test class contains CDI beans, having duplicate classes within the same application causes deployment errors.

https://github.com/arquillian/arquillian-core/blob/31fd0eeae1cd5f71c5a5b97925997ec1d42a9820/container/test-impl-base/src/main/java/org/jbo

[2018-01-23 17:45] bartoszmajsak commented on #157
Thanks @tevans78 for reporting it. Would you be so kind and provide reproducer to ask? This will help us work on the fix.

I don't dare to ask you to deliver an actual patch, but if you could that would be more than awesome. You can obviously count on our help!

[2018-01-24 09:19] hutchig commented on #157
This also occurred here - https://github.com/eclipse/microprofile-config/issues/145

[2018-01-30 11:11] bartoszmajsak opened #159 "Extend expression language in arquillian configuration"
Add ability to refer to a file being available in the project, but expended to the full path during test execution, so we can refer to it in a flexible way.

### Current situation

We either provide a full path:

[code]

or use environment variables to make it configurable for different enviroments (local, ci, other devs)

[code]

### Desired solution

Have a way to refer to either relative locati

[2018-02-01 05:05] bartoszmajsak opened #160 "RulesEnricher doubles each test enrichment"
See https://issues.jboss.org/browse/ARQ-2170

[2018-02-09 12:09] MatousJobanek commented on #160
Proposed solution to use an interceptor and "cancel" the `RulesEnrichment` event. The solution has been accepted and issue has been closed.

[2018-02-09 12:09] #160 closed

[2018-02-21 09:24] dipak-pawar opened #163 "Hierarchy Lookup for Expression Resolver"
**Problem**:

Currently we have [`StringPropertyReplacer`](https://github.com/arquillian/arquillian-core/blob/master/config/impl-base/src/main/java/org/jboss/arquillian/config/impl/extension/StringPropertyReplacer.java#L98) to resolve expression `${p}`.

I am running my tests with failsafe configuration like
[code]
If I am using expression language to resolve `${APP_NAME} `, I will use
[code]

It

[2018-02-21 09:29] bartoszmajsak commented on #163
Just remember to keep `env.APP_NAME` logic for backward compatibility.

[2018-02-22 09:30] #159 closed

[2018-02-28 17:43] hemanik opened #166 "Arquillian Core version 1.3.0.Final onward throws Illegal Argument Exception."
##### Issue Overview

Arquillian Core version 1.3.0.Final onward throws the following exception:

[code]

##### Expected Behaviour

No exception or error should be thrown.

##### Current Behaviour

Illegal Argument Exception is thrown.

##### Steps To Reproduce
1. update arquillian-cube extension to arquillian core version >= 1.3.0.Final
2. execute `HelloPodDeploymentOpenShiftITCase` ftest

[2018-03-01 10:18] famod commented on #144
+1 for suite/reusable deployment(s).
But please at least consider a more flexible approach like https://github.com/ingwarsw/arquillian-suite-extension/issues/44
On the other hand Aslak Knutsen already took a stab at this back in 2015 (IIRC) which looked less "hacky". There must be a branch somewhere...

[2018-03-07 07:33] hemanik commented on #166
Fixed with https://github.com/arquillian/arquillian-cube/pull/994/commits/b0a3553ec041684a2547c1a52ccde9ff9dcf3ff7

[2018-03-07 07:33] #166 closed

[2018-03-28 11:59] keilw commented on #137
@OndrejM @MatousJobanek Has there been any progress or is Arquillian still not working properly with JUnit5?

[2018-03-28 16:05] bartoszmajsak commented on #137
@keilw if you follow this thread and linked issues you will see that we are missing few pieces on JUnit 5 side to make this integration happen.

[2018-03-28 17:52] keilw commented on #137
@bartoszmajsak Thanks for the update. I tried to add the "Vintage" module which looks like it works fine for now. If JUnit 5 can solve this, we would be happy to use those new versions without the "Vintage Look" ;-)

[2018-03-28 17:55] bartoszmajsak commented on #137
@keilw we would love to make it happen. hopefully we can follow up on that any time soon. Another approach could be to use JUnit rules instead of runner we have introduced late last year http://arquillian.org/blog/2017/12/20/arquillian-core-1-2-0-Final/

[2018-04-04 14:27] ivankelly opened #168 "Using a timeout with testng breaks everything"
##### Issue Overview

If you add a timeout to a testng test using org.jboss.arquillian.testng.Arquillian, everything breaks.

##### Expected Behaviour

Adding a timeout shouldn't break stuff.

##### Current Behaviour

It breaks, and it breaks in a very non-obvious manner.

##### Steps To Reproduce
1. Change ```@Test``` to ```@Test(timeOut=1000)``` on the test ```ArquillianClass1```
2. Run the test

[2018-05-16 16:18] slawek-mazur opened #169 "Getting Started guide not working"
##### Issue Overview

`Getting Started` guide is not working as expected.

##### Expected Behaviour

Follow the guide.

##### Current Behaviour

org.jboss.arquillian.container.test.impl.client.deployment.ValidationException: DeploymentScenario contains a target (_DEFAULT_) not matching any defined Container in the registry.
Please include at least 1 Deployable Container on your Classpath.

##### S

[2018-05-16 16:40] slawek-mazur commented on #169
container dependencies refreshed and it's all good.

[2018-05-16 16:40] #169 closed

[2018-06-07 13:55] diegolovison opened #170 "Methods annotated with BeforeClass and AfterClass must be static"
If a method like https://github.com/arquillian/arquillian-core/blob/8fd124fc0a8581d475f53f5f0769b110065b5c2f/testng/core/src/main/java/org/jboss/arquillian/testng/Arquillian.java#L100 is not static, the tests results tends to report wrong values.

The repository here https://github.com/diegolovison/testng-reporter demonstrate this issue.

[2018-06-07 14:30] #170 closed

[2018-08-15 13:38] davidwittesz commented on #137
I had have a look at `https://github.com/junit-team/junit5/issues/1248` seems that there is no progress up to now?

I Would be very happy about this feature.

Any guesses when it would be possible to use JU5 with arquillian?

[2019-01-14 10:48] cardil commented on #137
Arquillian's implicit behavior of running tests on remote container and the silently tunneling them to client JUnit was always hard to understand for developers. Maybe it's good opportunity to switch testing to more explicit execution.

I'm thinking of something like that:

[code]

[2019-01-14 10:50] lordofthejars commented on #137
@bartoszmajsak this would be also really great to have support.

[2019-02-11 22:35] james-r-smith commented on #137
@bartoszmajsak, has there been any additional push for this? I'd love to be able to use JUnit-5 with Arquillian. What's the current status of this?

[2019-02-15 09:26] bartoszmajsak commented on #137
@james-r-smith nothing besides the PoC @MatousJobanek worked on back in the day.  Two crucial feature requests in JUnit 5 are still not implemented:

  * https://github.com/junit-team/junit5/issues/1248
  * https://github.com/junit-team/junit5/issues/157

You would probably be fine with `JUnit5 Vintage Engine` but I guess that's not what you ae looking for.

[2019-05-13 10:21] poikilotherm commented on #137
You might have noticed that junit-team/junit5#157 has been implemented... :smile:

[2019-06-06 20:33] jansupol opened #203 "Arquillian uses LGPL License"
The following files use LGPL license, rather than ASL 2.0 as the rest of the project:
 - [ServerKillProcessor](https://github.com/arquillian/arquillian-core/blob/master/container/spi/src/main/java/org/jboss/arquillian/container/spi/ServerKillProcessor.java)
- [StartClassContainers](https://github.com/arquillian/arquillian-core/blob/master/container/spi/src/main/java/org/jboss/arquillian/container/

[2019-06-10 18:30] bartoszmajsak commented on #203
Thanks for reporting @jansupol. I believe it's a mistake and we should change to the correct license.

@mgencur it seems you have authored those files - do you recall any particular reason for LGPL use here instead of ASL 2.0 which is used everywhere else?

[2019-06-11 07:51] mgencur commented on #203
I think right now there's no particular reason to keep LGPL and I think at the time of creating these files LGPL was chosen because other files used the same license.

[2019-06-11 08:45] bartoszmajsak commented on #203
It seems to me it was copy-paste error, as this commit with license headers predates files mentioned in the issue https://github.com/arquillian/arquillian-core/commit/b76366ee1c7b3442cf797651f9edddf8a5e8f22b#diff-c1e63ae7cdc5e76722ed36ed024ab454R7

I will figure out if there are any additional steps needed on our side to change those headers.

[2019-07-05 09:18] #203 closed

[2019-07-05 09:18] bartoszmajsak commented on #203
Thanks for reporting @jansupol. It has been fixed now.

[2019-08-06 10:50] blabno commented on #137
@bartoszmajsak Hi! Any idea if junit5 will be supported in near future?

[2019-08-27 12:37] FroMage opened #212 "Multi-release jar support"
Multi-release jar breaks arquillian.

I got this exception using Arquillian with an MR-jar:

[code]

Looks at the source code in question, I was able to add a `beans.xml` to avoid scanning those classes as a workaround:

[code]

[2019-08-29 07:05] bartoszmajsak commented on #212
By looking at the stacktrace I just wonder if that is an Arquillian Core or perhaps weld-container-adapter? What's the code in question you are referring to?

[2019-08-29 08:55] FroMage commented on #212
I think it's `org.jboss.arquillian.container.weld.embedded.Utils.filterClasses`, did I file in the wrong project? Which one should I file on? Can we move the issue or do I need to reopen one?
Thanks.

[2019-08-29 13:54] bartoszmajsak commented on #212
No worries, I will take care of it.

[2019-08-29 13:55] FroMage commented on #212
Thanks.

[2019-09-09 18:35] gastaldi commented on #137
Is there anyone working on this feature? It would be really cool to drop JUnit 4 support in favor of JUnit 5

[2019-09-11 08:28] bartoszmajsak commented on #137
@gastaldi not that I'm aware of. It's up for grabs.

[2019-09-20 12:09] erdi opened #214 "Support JUnit compatible testing frameworks for which FrameworkMethod.getName() != FrameworkMethod.getMethod().getName() and which allow test method names with reserved url characters"
##### Issue Overview

Currently, `ServletMethodExecutor` and the `TestMethodExecutor` implementation in `org.jboss.arquillian.junit.MethodInvoker` assume that ` FrameworkMethod.getName() == FrameworkMethod.getMethod().getName()`. [This is indeed the case for JUnit](https://github.com/junit-team/junit4/blob/64155f8a9babcfcf4263cf4d08253a1556e75481/src/main/java/org/junit/runners/model/FrameworkMeth

[2019-09-27 12:01] #214 closed

[2019-09-29 16:11] zforgo commented on #137
Since Junit Jupiter 5.5.x has released intercepting test methods are available. I made an extension based on that.
https://github.com/zforgo/arquillian-junit5-extension

[2019-10-01 14:24] mkouba opened #216 "URLResourceProvider does not behave consistently for servlet and non-servlet containers"
##### Issue Overview

An injected `@ArquillianResource URL` ends with a slash for servlet containers but does not end with a slash for non-servlet containers. See also `org.jboss.arquillian.container.spi.client.protocol.metadata.Servlet.getBaseURIAsString()` and `org.jboss.arquillian.container.test.impl.enricher.resource.URLResourceProvider.toURL(HTTPContext)` - only the host and port is used here

[2019-10-16 08:57] tandraschko commented on #137
Nice! It would be great if it could make it into arquillian directly.

[2019-10-17 19:37] dmatej commented on #137
@zforgo I got only one NPE (I will create PR soon), but generally it seems it really works! You are a hero! :-)

[2019-12-24 23:28] hmunnin opened #224 "Unexpected org.xnio.XnioWorker.getContextManager() method call"
##### Issue Overview

Build failure, unexpected call of org.xnio.XnioWorker.getContextManager() method while trying to deploy on local wildfly.

##### Expected Behaviour
Build without errors.

##### Steps To Reproduce
0. Preinstalled local wildfly AS.

1. Sample test:
[code]
2. arquillian.xml
[code]

3. dependencies:
[code]

4. beans.xml
[code]
5.
[code]

##### Output

[code]

It looks like issue

[2019-12-27 16:04] bartoszmajsak commented on #224
Thanks for going that extra mile and providing all those details. Would it be possible for you to wrap it in a git repository so I can be sure I'm having the correct reproducer with all the deps which might be conflicting?

In addition, if you could share the output of `mvn version`, that would be extremely helpful.

One thing worth giving a shot would be bumping core to the latest release `1.5.0.

[2019-12-29 14:45] hmunnin commented on #224
Hi @bartoszmajsak
Thanks for reply and interest. Here is a [repo](https://github.com/hmunnin/arquillian-issue) to reproduce this issue, as well there is similar but different story when i try chameleon dependency to use.

Maven version:
[code]

You may use `scripts/install_wildfly.sh` to shorten setup locally.

[2020-01-16 16:48] fmhwong opened #228 "Maven central does not allow HTTP as of January 15, 2020"
##### Issue Overview
Maven Central does not allow HTTP connection starting January 15, 2020.  See https://support.sonatype.com/hc/en-us/articles/360041287334

`arquillian-core 1.5.0.Final` is still picking up
` <version.shrinkwrap_resolver>2.2.6</version.shrinkwrap_resolver>`

I think their 3.0 version has switched to HTTPS.

##### Expected Behaviour
Use HTTPS to connect to Maven Central

##### Cu

[2020-01-17 13:03] pavolloffay commented on #228
This issue is causing failing TCK in MicroProfile projects. Can we get the fix soon and release a new version?

[2020-01-17 13:04] pavolloffay commented on #228
cc) @bartoszmajsak

[2020-01-17 13:16] bartoszmajsak commented on #228
As an intermediate fix, you can try to overwrite resolver version in your `pom.xml` and set it to the latest release `3.1.4`.

I will cut the release today.

[2020-01-17 15:31] #228 closed

[2020-01-17 15:39] pavolloffay commented on #228
thanks @bartoszmajsak

[2020-01-29 02:33] orange-buffalo opened #231 "Arquillian is not compatible with TestNG 7.x"
##### Issue Overview

Arquillian is not compatible with TestNG 7.x

##### Expected Behaviour

Test is executed successfully.

##### Current Behaviour

Exception is thrown:
[code]

##### Steps To Reproduce
Precondition: any Aruqillian test executing successfully with TestNG 6.x.
1. Upgrade TestNG to the latest 7.x.
2. Execute the test again.

[2020-01-30 11:26] bartoszmajsak commented on #231
Thanks for reporting this issue. I believe TestNG 7.x changed quite a bit, so we most likely need to write a new adapter for it. That said - would you be interested in contributing that?

[2020-01-31 01:34] orange-buffalo commented on #231
@bartoszmajsak, I prepared a naive implementation of TestNG 7 support, please see #232. If Arquillian team would like to go with a more sophisticated solution (like extracting common non-affected by API changes parts), please feel free to update the request / discard and re-implement it.

[2020-01-31 16:09] bartoszmajsak commented on #231
@orange-buffalo awesome, many thanks! I will review that over the weekend!

[2020-02-06 21:54] otaviojava opened #233 "Arquillian, CDI 2.0 and JUnit 5/Jupiter"
Hello, I put the question in the StackOverflow and body answer it.
I guess the answer is no.
With CDI 2.0 we can improve that integration in several ways.
I would like to make it happens.

What do you think?
If that makes sense, where is the right project to put CDI and Jupiter extension?

https://stackoverflow.com/questions/60063537/arquillian-cdi-2-0-and-junit-5-jupiter

[2020-03-21 09:53] bartoszmajsak commented on #233
Hi @otaviojava, there's been great groundwork done by @zforgo - see https://github.com/arquillian/arquillian-core/issues/137#issuecomment-536316718

Do you think you could collaborate on that? I would be thrilled to see that happening. And also I can help to move this forward.

[2020-03-21 10:09] #231 closed

[2020-03-30 13:22] jbee opened #235 "NPE in MethodParameterInjectionPoint"
##### Issue Overview

https://github.com/arquillian/arquillian-core/blob/master/testenrichers/cdi/src/main/java/org/jboss/arquillian/testenricher/cdi/MethodParameterInjectionPoint.java#L57
https://github.com/arquillian/arquillian-core/blob/master/testenrichers/cdi/src/main/java/org/jboss/arquillian/testenricher/cdi/MethodParameterInjectionPoint.java#L132

##### Expected Behaviour
Not null

##### C

[2020-04-15 16:57] starksm64 opened #237 "Need a new release for Jakarta EE 9 updates"
##### Issue Overview
The testenricher submodules in the arquillian-core repo that have dependencies on the Java EE apis that will need to be updated to the Jakarta based packages that are part of the Jakarta EE 9 release.

##### Additional Information

The following submodules have Java EE dependencies that will need to be updated for a Jakarta EE 9 release that changes the package api namespace f

[2020-04-20 07:57] bartoszmajsak opened #240 "Move CI to Circle"
##### Issue Overview

Travis is getting more and more unreliable and frequently under maintenance.

We should move our builds to a more stable and robust platform (ideally across the whole org).

This will require moving automation for two things:

- [ ] regular build on PR / push to master
- [ ] docs generation logic

[2020-04-21 08:47] bartoszmajsak opened #242 "Update Weld to 4.x when released"
For new Jakarta enrichers, we should update weld to 4.x as soon as it's released.

[2020-04-21 11:12] bartoszmajsak commented on #242
Un-ignore depending tests https://github.com/arquillian/arquillian-core/pull/238/files#diff-642b5c8a33309dddfdde66d8be40dda0R71-R120

[2020-04-21 13:00] #237 closed

[2020-06-23 11:51] manovotn opened #248 "Arq. servlet protocol and Jakarta EE 9"
I recently started trying out Weld servlet with Jakarta EE 9 since there is now a Tomcat version for it.
See [this related JIRA](https://issues.redhat.com/browse/WELD-2630) issue.

In that I figured that we are still using some Arq. to perform the testing, namely Arq. servlet protocol.
[These bits](https://github.com/arquillian/arquillian-core/blob/master/protocols/servlet/src/main/java/org/jboss/

[2020-06-23 12:34] manovotn commented on #248
Linked a PR that shows what's needed to change it, with those bits I can get Weld tests on Tomcat to execute.

[2020-06-24 11:53] manovotn commented on #248
Note - looks like we are also going to need new version for [Tomcat embedded adapter](https://github.com/arquillian/arquillian-container-tomcat) (and later on jetty and maybe others) since those use CDI test enrichers with `javax` namespaces.

[2020-06-24 12:18] bartoszmajsak commented on #248
Thanks for looking at this @manovotn. Much appreciated. I think we can follow the same reasoning as with #238 so I would suggest making new module `servlet-jakarta`.

[2020-06-24 12:19] bartoszmajsak commented on #248
Do you have a feeling if that's only about package rename or the changes might be bigger?

[2020-06-24 12:24] manovotn commented on #248
@bartoszmajsak I have just created https://github.com/arquillian/arquillian-container-tomcat/issues/86 where I tried to sum it up.

It should all (99%) spin off the package name change - the Tomcat (and subsequently jetty) adapters will need to consume these newly created jakarta servlet and CDI test enrichers. With that it should work. I am trying to put the pieces together in snapshot versions r

[2020-06-24 12:25] bartoszmajsak commented on #248
If you need some help just let me know and I can do some boring stuff ;)

[2020-06-24 12:31] manovotn commented on #248
Fair enough, but this might spin off the need to create some additional modules.
E.g. any other arq. project that needs to consume servlet will then need to have its `jakarta` version. Looking at servlet testing setup we now have, this shouldn't be an issue, because the dependency seems to be brought in by the tomcat adapter. But this might show up as an issue elsewhere later. But so long as we ca

[2020-06-26 12:55] #242 closed

[2020-06-30 14:44] arjantijms commented on #137
Hi, just wondering. Any progress here?

[2020-07-06 11:48] #248 closed

[2020-07-10 10:45] Zlika opened #258 "arquillian-testng.jar does not include jcommander when using TestNG 7"
##### Issue Overview

#232 adds support for TestNG 7.
When using arquillian 1.7.0.Alpha2 with TestNG 7.1.0 and wildfly 9.0.2 I have the following error when running my integration tests:

I extracted the arquillian-testng.jar artifact bundled in the *IT.war generated to understand the problem.
When using TestNG 6 (arquillian is working in this scenario), the arquillian-testng.jar contains the foll

[2020-07-10 11:43] bartoszmajsak commented on #258
Have you tried adding `jcommander` dependency to your project? It's definitely something we missed, but that might be a workaround for the time being.

[2020-07-10 13:18] Zlika commented on #258
Hi!

Adding testng as a compile time dependency seems to work around the problem (this way, testng and all its dependencies are packaged in the *IT.war artifact).

I had a look at the diff between the arquillian testng and testng7 modules. The only difference is one line in Arquillian.java:

replaced by:

ITestNGMethod.getMethod() is deprecated and replaced by getConstructorOrMethod() since TestNG

[2020-07-14 09:09] Blubb324 opened #260 "Wrong/incompatible dependencies (shrinkwrap-resolver) in arquillian-bom since 1.6.0.Final?"
Hi arquillian-team,

the last days I was trying to update my **arquillian-bom** (https://mvnrepository.com/) from 1.5.0.Final to 1.6.0.Final. But when I updated it, my tests (which were working before) was leading into the error [see stacktrace].

My code is looking the following:

	@Deployment
	public static WebArchive createDeployment() {
		File[] dependencies = Maven.configureResolver().workOff

[2020-08-02 12:37] jagdeepjain opened #266 "java.lang.IllegalStateException: The Graphene runtime isn't initialized."
##### java.lang.IllegalStateException: The Graphene runtime isn't initialized.

Issue happens when running testng parallel tests.

##### Test should run in parallel

##### Test fails with the the error `The Graphene runtime isn't initialized.`

##### Steps To Reproduce
1. Clone https://github.com/jagdeepjain/webdriver-arquillian-test
2. run `docker-compose up` from the project root directory
3. ru

[2020-08-12 08:01] #258 closed

[2020-09-30 13:38] OndroMih commented on #137
I'm pretty sure the current solution is stable enough to become part of the Arquillian project. I'm not an Arquillian committer but I can submit this to the Arquillian project if nobody plans to do so. Another option would be to submit this as a separate project to the Eclipse foundation as an Arquillian extension.

I've rewritten the Jakarta Batch TCK to use Arquillian and JUnit 5, I wrote about

[2020-09-30 23:05] lprimak commented on #137
I would second that opinion. Something needs to be done with JUnit 5 and since there is no other solution, this would be a great addition

[2020-10-06 08:35] bartoszmajsak commented on #137
Hey @OndroMih, thanks for sharing your experience with JUnit 5 and Arquillian. I'm all for moving this forward so apologies there was not much traction on this issue - I have other things which are consuming both my professional and personal time.

That said I'm really happy to see people in the community involved and interested. I believe that should be part of `arquillian-core` as it is with jun

[2020-10-06 16:06] dmatej commented on #137
@bartoszmajsak There are still unmerged my two pull requests, but generally it works well.
https://github.com/zforgo/arquillian-junit5-extension/pulls

[2020-10-06 16:47] arjantijms commented on #137
Hope this can be moved forward. As I manage several projects that use junit and arquillian intensively, I'll try to test out something soon on these projects to see where we stand.

[2020-10-06 20:24] OndroMih commented on #137
Hi @bartoszmajsak, I'm pretty sure it's safe to start by porting @zforgo 's work. Then @dmatej can raise his pull requests against the ported code in arquillian-core to fix some known issues.

[2020-10-16 02:02] lprimak commented on #266
I am getting an exact same issue in a different project

[2020-10-26 22:00] bartoszmajsak commented on #137
I integrated @zforgo work as a module in arquillian-core. Again thanks for this milestone!

You can find all the adjustments on the [`junit5_extension`](https://github.com/arquillian/arquillian-core/tree/junit5_extension) branch, including two PRs from @dmatej. If anyone can try it out against their code it would be just great.

The original code has no tests, so I don't feel comfortable with meri

[2020-10-27 13:38] bartoszmajsak commented on #260
Thanks for reporting this issue. I don't have any explanation if there's actual reason for the duplication you found - most likely copy&paste error which was overlooked.

As for 3.x vs 2.2.x branch - I believe 3.x is rewritten to be JDK8+ compliant. But there's also a question if 2.x resolver is using HTTPS to fetch dependencies from Maven Central, as old approach based on HTTP is no more availabl

[2020-10-29 09:53] bartoszmajsak commented on #137
@OndroMih @arjantijms do you have any larger projects you could give it a spin? If needed I can push snapshot artifact so that it's easier for you to consume.

[2020-10-29 14:37] Thihup commented on #137
I've got a try using the _javaee-samples/jakartaee8-tck_ project and it seems to be working fine.
https://github.com/Thihup/jakartaee8-tck/commit/a503d3a30b232d0cfc34860439bf96378ed5efbf

[2020-10-29 14:41] bartoszmajsak commented on #137
Thanks for your feedback @Thihup!

[2020-10-29 14:47] lprimak commented on #137
Definitely please put out a snapshot

[2020-11-10 23:10] lprimak commented on #137
I can't get it to work...
every test throws an exception:
[code]
Any ideas?

[2020-11-10 23:27] lprimak commented on #137
More context:

[code]

[2020-11-10 23:48] lprimak commented on #137
I think it's a bug, when I check `instanceof` for the failure, my tests pass

[2020-11-11 01:58] lprimak commented on #137
The preceding PR #285 fixes the issue and gets my tests to pass

[2020-11-11 01:59] lprimak commented on #137
@bartoszmajsak Please check & merge

[2020-11-12 02:12] lprimak commented on #137
Not sure if the snapshot is available, but I have put the latest branch version up on Payara's Nexus:

Arquillian artifacts:
[code]
-----
Payara connector artifacts (example):
[code]

Payara artifacts can be browsed here:
https://nexus.payara.fish/#browse/browse:payara-artifacts
under fish/payara/arquillian and org/jboss/arquillian

Sample project can be found here:

https://github.com/flowlogix/f

[2020-11-12 02:13] lprimak commented on #137
Not sure if the snapshot is available, but I have put the latest branch version up on Payara's Nexus:

Arquillian artifacts:
[code]
-----
Payara connector artifacts (example):
[code]

Payara artifacts can be browsed here:
https://nexus.payara.fish/#browse/browse:payara-artifacts
under fish/payara/arquillian and org/jboss/arquillian

Sample project can be found here:

[2020-11-12 11:41] bartoszmajsak commented on #137
Thanks @lprimak. I'm actually about to cut the next alpha release today with all the changes (including yours) :)

[2020-11-13 08:18] bartoszmajsak commented on #137
`1.7.0.Alpha5` is out with initial support for JUnit 5. Feel free to open an issue if you found anything and I'll be happy to address them. I'm closing this long thread.

Thank you all for your help! Much appreciated!

[2020-11-13 08:18] #137 closed

[2020-11-13 12:17] Thihup opened #287 "Arquillian with JUnit 5 doesn't allow (package-) private tests"
One of the features of JUnit 5 is being able to create tests without needing to specify the visibility of a test [1].
However, the Arquillian extension cannot run tests that aren't public.
Should this be fixed or add some documentation saying that is not possible?

[1] https://junit.org/junit5/docs/current/user-guide/#writing-tests

[2020-11-13 15:58] bartoszmajsak commented on #287
Thanks for reporting. Do you think you could try to figure out the fix for it?

[2020-11-14 10:35] kifj opened #288 "arquillian-junit5 runs @BeforeEach / @AfterEach code on client and server side in Container mode"
##### Issue Overview

Converting tests to arquillian-junit5-container (version 1.7.0.Alpha5), I have the issue that the setup / teardown methods ( BeforeEach / AfterEach annotations) are executed twice when running tests in the container.

One call is executed on the client, one call is executed on the server side. Tests with Junit 4 (arquillian-junit-container) ran these methods on the container

[2020-11-14 10:36] kifj commented on #288
[arquillian-test.tar.gz](https://github.com/arquillian/arquillian-core/files/5540501/arquillian-test.tar.gz)

[2020-11-15 11:48] #287 closed

[2020-11-17 17:19] spyrkob commented on #157
@bartoszmajsak don't know if it's still useful but here's a simple reproducer: https://github.com/spyrkob/test

Looking at the DeploymentGenerator maybe the solution would be to check if the test class is already in one of embedded archives? Something like https://github.com/arquillian/arquillian-core/compare/master...spyrkob:issue-157 (very hacky;))

[2020-12-04 09:46] rimuln opened #293 "arquillian-junit5: What are required migration steps/Not injected EJB and CDI when test is in @BeforeEach method"
Is there some article/comment how migrate from old to new.

We have now IT that use base class anotated with:
[code]
and all IT tests extends it.
and in pom we are using
[code]

during run maven-failsafe-plugin we have set usage of surefire-junit47 because with vintage is started for each Test class new WF and it takes lot of time.
=> I expected
change to @ExtendWith(ArquillianExtension.class)
cha

[2020-12-04 13:31] rimuln commented on #293
Ok I changed one test class to JUnit5 annotations. this correctly starts WF but NPE in setup method remain.
it is due
`  @Inject
  private IAppServerPathProvider appServerPathProvider;

  public void setUp() throws Exception {
    appServerPathProvider.setServerConfigurationDirectory("src/test/resources");
    appServerPathProvider.setServerTemporaryDirectory("target/jboss_temp");
  }`

where inje

[2020-12-06 15:06] kifj commented on #293
You run this as an InContainer-Test - I think you hit the same problem as me in #288
The NPE is thrown on the client, not the server?

[2020-12-07 08:26] rimuln commented on #293
Yes could be as integration tests are in our use case added to war and this war is packed with production ejb-jar into ear.

[2020-12-07 20:09] lprimak commented on #266
I think this has been fixed with the latest Arquillian Alpha

[2020-12-07 20:12] lprimak opened #295 "Arquillian.xml is not convenient with maven reactor (multi-module) projects"
I am running into this problem more and more. Arquillian.xml is duplicated in a whole bunch of tests, with violates the DRY principal, is error-prone and redundant.

Is there any way to just use arquillian.xml that's at the root of a maven reactor project?
And if not, can this feature be added? Perhaps by a system property that points at a 'backup' arquillian.xml if it's not present in classpath?

[2020-12-08 01:52] lprimak commented on #295
Quick look at the code seems that there is `arqullian.xml` *system property* to point to the file. I'll try this out. This is not documented anywhere BTW (from what I can find)

[2020-12-08 02:18] lprimak commented on #295
Ok, the below works, just needs to be documented:

This places a 'backup' arquillian.xml into reactor project root
[code]

[2020-12-08 02:18] #295 closed

[2020-12-08 12:20] OndroMih commented on #295
I think that it would be better if there was an arquillian maven plugin that would generate the arquillian.xml file in the test classpath based on configuration in pom.xml. With that, the configuration of the plugin could be defined in the root project and inherited in child maven modules without any hacks.

[2020-12-08 15:56] lprimak commented on #295
I disagree. My solution is not a 'hack' it works and doesn't require creating / maintaining a plugin.
This is a win.

[2020-12-16 13:42] sgflt opened #299 "JUnit5 integration stops container after each test class"
##### Issue Overview

After migration from JUnit4 to JUnit5 only first test passes. All following tests fails on startup exception, because there is lready GlassFishRuntime present and cannot be initialized again.

##### Expected Behaviour
Container is started and stopped once.

##### Current Behaviour
Each test class attempts to set up environment and only first test class pass.

##### Steps To R

[2021-01-09 10:02] rimuln commented on #299
If it happens could be some payara, embeded mode or configuration problem?

Because:
I have local built of fork with merged #301
run on Wildfly in container managed mode and using @org.eu.ingwar.tools.arquillian.extension.suite.annotations.ArquillianSuiteDeployment and WF is started once for all 1000+ test. This behaviour I have had when I run IT test with vintage engine on 1.6.0. On locally built

[2021-01-09 10:06] rimuln commented on #293
I could confirm that #301 fix my problems here related not injected EJB and CDI.
Thanks a lot @kifj for fix it. I have now completly removed junit dependency from ejb project and all test are on JUnit5 and works fine.
Will wait for merge of #301 and release 1.7.0

[2021-01-09 10:06] #293 closed

[2021-01-11 15:11] sgflt commented on #299
I've just created test reproducers. Wait for it.

[2021-01-11 15:27] sgflt commented on #299
Tests are in core module. https://github.com/sgflt/payara-test-case/commit/a23bedc111369edb9593b3aec37b94780b17020f

I have to correct previoust statement about each test method. Single test class run is OK. Only if multiple test classes are executed in the same run, the first class passes and the second one fails.

[2021-01-11 15:55] sgflt commented on #299
Interesting. Command line run seem to be working, but running tests in IntellJ is faulty as described. Maybe there is another cause.

[2021-01-11 16:07] sgflt commented on #299
But yes, tests are executed by vintage engine, so I will wait for  #301 to be merged. I was unable to build it localy.

[2021-01-29 22:36] lprimak opened #304 "RemoteExtensionLoader swallows IOException"
##### Issue Overview
When debugging parallel testing, errors occur that get swallowed by RemoteExtensionLoader

##### Expected Behaviour
Exceptions should be printed out

##### Current Behaviour
Exceptions are silently ignored

##### Steps To Reproduce
Parallel test Java EE 7 samples with Payara `mvn -T4 verify`

[2021-01-29 22:38] lprimak opened #305 "Parallel testing of JAR deployments fails due to hardcoded "test.war""
##### Issue Overview
`test.war` is hardcoded when using JAR deployment.
This causes multiple failed deployments of said `test.war` thus failing parallel testing

Tell us briefly what the problem is about.

##### Expected Behaviour
Parallel tests succeed

##### Current Behaviour
Parallel tests with remote server fails due to duplicate deployment name `test.war`

##### Steps To Reproduce
Test Java E

[2021-02-06 02:23] lprimak commented on #288
Same issue exists in JUnit 4 container.
Can you verify that this fix also fixes it?
thank you

[2021-02-06 09:40] kifj commented on #288
Hi @lprimak, thanks for supporting my PR.

In my existing JUnit4 tests this did not occur. I just verified:
- in arquillian 1.6.0 and 1.7.0.Alpha6
- using arquillian-junit-container and junit-vintage-engine
- and Junit4 tests
- running in container on wildfly
that there is no execution of @Before and @After on the client side.

If this would happen, my tests would have been broken like they were w

[2021-02-06 20:39] #304 closed

[2021-02-06 20:39] #305 closed

[2021-02-06 20:54] lprimak commented on #288
Definitely happening, I am seeing this in MP-TCK running against Payara, but that's not a simple example.
I will get something going soon

[2021-02-06 21:59] #288 closed

[2021-02-07 12:59] hantsy opened #309 "1.7.0.Alpha7 does not call JUnit lifecycle hooks?"
I maintained a [jakartaee9 starter template](https://github.com/hantsy/jakartaee9-starter-boilerplate) which is provided to kickstart a Jakarta EE 9 project.

I am not sure what is changed in the latest 1.7.0.Alpha7 in today's PR created by Renovate.

From 1.7.0.Alpha6->1.7.0.Alpha7, the following simple test failed due to a NullPointerException.

[code]
The client is **null** there in the test me

[2021-02-08 04:08] lprimak commented on #309
I can confirm this. Relates to #288 and #301
I am working on a reproducer for it

[2021-02-08 04:18] hantsy commented on #309
It seems it is occurred only tests run in client mode.

[2021-02-08 05:01] lprimak commented on #288
@kifj You are correct. I can confirm that JUnit 4 is running correctly.
The MP-TCK issues are because `@Before/After/Class` runs on the client (historically I guess)

[2021-02-08 05:45] lprimak commented on #309
Ok, @kifj This is critical.
To summarise:
- No lifecycle methods are called in client mode ( as in example above)
- `@Before/AfterAll` methods are called on the container, as they are called on the client in JUnit 4 (that behavior should be kept)
- `@Before/AfterAll` methods are called for each test, not once-per-class

[2021-02-08 06:27] lprimak commented on #309
@kifj Was an easy fix, so I did it :)

[2021-02-08 07:23] kifj commented on #309
Thank you!

[2021-02-08 09:01] hantsy commented on #309
I think this is a blocking issue. If possible, please publish a quick fix version to replace 1.7.0.Alpha7.

[2021-02-08 09:50] bartoszmajsak commented on #309
Coming soon.

[2021-02-08 14:58] jagdeepjain commented on #266
@lprimak I can take a quick look at it, which maven dependency you are suggesting to update to Alpha? Is it Graphene?

      <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.jboss.arquillian</groupId>
                <artifactId>arquillian-bom</artifactId>
                <version>1.7.0.Alpha2</version>
                <type>pom</type>

[2021-02-08 18:13] lprimak commented on #266
@jagdeepjain no, just update Arquillian to the latest alpha (Alpha7 now)
Also, Selenium 3.13.0 is what I used

[2021-02-09 15:22] jamezp opened #312 "JUnit 5 Method Parameter Injection"
In JUnit 5 a `ParameterResolver` was introduced to allow parameters to be passed. Arquillian also supports parameters being passed, e.g. `public void someTestMethod(@ArquillianResource URL url)`. However this fails with JUnit 5 as a `ParameterResolver` cannot be found.

An option I've tested with is having the `ArquillianExtension` implement the `ParameterResolver`. This works, but doesn't really

[2021-02-23 08:23] #309 closed

[2021-02-23 19:54] bartoszmajsak commented on #299
@sgflt I just released 1.7.0.Alpha8 with the changes you are waiting for. Should be in Maven Central in a few hours.

[2021-03-06 01:21] lprimak opened #319 "Race conditions in ServletMethodExecutor when doing parallel testing"
##### Issue Overview

Minor race condition discovered that causes `503 Service Unavailable` stack trace
in `org.jboss.arquillian.protocol.servlet(5).ServletMethodExecutor` class

The issue is that when timer is canceled, an already-running timer can hit an application
that was already undeployed.

##### Additional Information

PR is coming to fix this.
Fix testing with MicroProfile SDK

[2021-03-06 01:32] lprimak opened #320 "TestNG driver fails when doing parallel testing"
##### Issue Overview

Thread contention in the Engine class causes all sorts of different problems
This is caused by `InheritableThreadLocal` static variables in the TestNG implementation driver

##### Additional Information

PR is coming
There are two `InheritableThreadLocal` in `Arquillian.java` for TestNG:
`deployableTest` and `cycleStack`
The issues are coming up because these variables are ac

[2021-03-08 13:11] rimuln opened #323 "JUnit5 @Nested tests - ClassNotFoundException"
##### Issue Overview

During run IT tests with Arquillina 1.7.0.Alpha8. We failed on class that contains @Nested annotation and tests with ClassNotFoundException

##### Expected Behaviour

Nested tests are invoked

##### Current Behaviour
`[ERROR] integration.de.ids.acos.et.server.dao.auditlog.AuditLogViewDaoTest$EntriesBasedTests.testFindLatestEntryIdsToEntityIdsForTwoEntitiesOnlyTwoLatest  Time

[2021-03-08 13:38] rimuln commented on #323
Deeper debug inside launcher
![image](https://user-images.githubusercontent.com/14931517/110328647-e5095b00-801b-11eb-9768-5c0de17b3fb5.png)

Probably in this case Arquillian can't use ClassSelector but NestedClassSelector

[2021-03-08 18:08] rimuln commented on #323
PR #324 created

[2021-03-08 19:43] ghost opened #325 "JUnit5 issues with Graphene page objects"
##### Issue Overview
Location navigation using `Graphene.goTo` doesn't work with `arquillian-junit5-container`. There's no problem when running with JUnit 4. Maybe, that's also a lifecycle issue like BeforeEach/AfterEach.

##### Expected Behaviour
Test runs successfully.

##### Current Behaviour
[code]

##### Steps To Reproduce
See https://github.com/ChristianHeinemann/arquillian-graphene-junit5-e

[2021-03-08 19:56] ChristianHeinemann commented on #325
It also works if the `Graphene.goTo(GooglePage.class)` call is moved from the `@BeforeEach` method to the beginning of the `@Test` method.

[2021-03-09 23:01] lprimak commented on #319
Payara JIRA QACI-638

[2021-03-09 23:01] lprimak commented on #320
Payara JIRA QACI-638

[2021-03-10 19:36] tosix1988 opened #326 "JUnit5 container does not work well with Arquillian transaction extension"
Hello,

we have been recently migrating out arquillian tests from JUnit4 container to JUnit5 container, and it mostly went without issues. However, we have spotted that the arquillian JTA extension has some issues with JUnit5 container.

Simply put, it seems that if the test is annotated with `Transactional(value = TransactionMode.COMMIT)`, the test transaction is still rolled back (with JUnit4 th

[2021-03-17 14:00] #323 closed

[2021-03-22 18:31] #319 closed

[2021-03-22 20:33] #320 closed

[2021-04-13 16:44] rimuln opened #331 "NullPointerException when injection is used in @Nested class"
Bug report / Enhancement

##### Issue Overview

NPE is fired before @Test method is executed in @Nested class.

##### Expected Behaviour
NPE isn't throw and @Test runs successfuly

##### Steps To Reproduce
[code]

When debug it:
* when it is "parent" test method then in org.jboss.arquillian.junit5.container.JUnitJupiterTestRunner.execute(Class<?>, String) testClass is TypeLevelReferenceDaoIntegrat

[2021-05-20 11:08] Emily-Jiang opened #336 "Release Arquillian 1.7"
Can you release arquillian 1.7 as MicroProfile 5.0 would like to consume it to work with Jakarta EE 9? I am aware there were some updates went in for upgrading servlet to work with Jakarta EE 9. Please advise.

[2021-05-20 18:05] starksm64 commented on #336
There are 1.7.0.Alpha* release artifacts that were used by TCKs for the EE 9 testing. Arquillian is slow to produce final releases, so I would look to use the current  org.jboss.arquillian.protocol:arquillian-protocol-servlet-jakarta:1.7.0.Alpha9 for the EE 9 version of the servlet protocol handler.

[2021-05-20 21:38] Emily-Jiang commented on #336
Thanks @starksm64 ! I have been using alpha9 locally. Thought it would be nice to have 1.7 released. Since you said it was slow to produce a release, I will check in the alpha9 to MicroProfile parent pom for now till 1.7 is out.

[2021-06-09 08:21] manovotn opened #338 "CDIInjectionEnricher uses deprecated, and in latest version removed, API"
With latest CDI API (4.0..0Alpha1), there was a removal of long deprecated APIs.

I am now trying to create a Weld version that would run against that API (see [this PR](https://github.com/weld/core/pull/2383)) and running Arq. tests, I saw a failure coming from within `CDIInjectionEnricher`.

It uses `BeanManager.createInjectionTarget` which was removed.
This seems to be the sole occurrence, othe

[2021-06-17 03:12] #240 closed

[2021-06-17 03:17] starksm64 commented on #68
Closing as out of date

[2021-06-17 03:17] #68 closed

[2021-06-21 12:29] bartoszmajsak commented on #336
There's one bit that makes it challenging to cut an official release yet - that's JUnit 5 support which needs more hardening.

I've just released `1.7.0.Alpha10` which should land in Maven Central later today.

[2021-06-21 12:31] #326 closed

[2021-06-21 12:31] bartoszmajsak commented on #326
Issue moved to [arquillian/arquillian-extension-transaction #31](https://github.com/arquillian/arquillian-extension-transaction/issues/31) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-21 12:31] bartoszmajsak commented on #326
Thanks for reporting and reproducers. I'm moving this issue to the right place.

[2021-08-13 12:09] papegaaij commented on #299
I've hit a very similar issue while working on the [Spockframe testrunner](https://github.com/topicusonderwijs/arquillian-testrunner-spock/tree/spock-2.0-junit5) for JUnit 5 and Spockframe 2.0. It turns out that `JUnitPlatformProvider` for the `maven-surefire-plugin:3.0.0-M5` reinitializes the entire JUnit Platform Launcher for every class when running with `forkCount` > 1. I've created this ticke

[2021-12-29 22:26] felipe-alves-moraes opened #364 "Failing to build Arquillian locally"
##### Issue Overview

While trying to build the core project locally for some tests with JUnit 5 and Open-Liberty, several tests is failing.

##### Expected Behaviour
Install the current version locally on maven.

##### Current Behaviour
Tests fail to execute.

##### Steps To Reproduce
1. run `mvn install`

##### Additional Information

[code]

[2022-01-03 08:34] felipe-alves-moraes commented on #336
Hello,

I was trying to run some tests with Arquillian 1.7.0.Alpha10 + Wiremock, and I notice that the `@BeforeAll` is not running, is this known? I'll try to investigate further, but I would say it's not really in shape to be put as a stable release yet.

[2022-01-03 09:04] bartoszmajsak commented on #336
Thanks for your feedback @felipe-alves-moraes. Please go ahead and open an issue with your findings!

[2022-01-06 09:26] #364 closed

[2022-03-03 12:57] Chavelp commented on #325
Here is my working workaround which requires Javassist to work. It is just a minimal workaround, since with it, `.goTo` method is called twice.

[code]

[2022-03-10 17:32] bartoszmajsak commented on #312
Thanks @Chavelp for sharing your workaround for the Graphene issue. I think we need to find the solution for broader use-case as well.

@jamezp I will squeeze some time in the coming days and see if I can get something working. Did you make some progress around it since the original post?

@jomarko @mabartos are you guys using JUnit 5 with Graphene yet? I was wondering if you are facing a similar

[2022-03-10 18:34] jamezp commented on #312
@bartoszmajsak I've not really had a chance to look since I filed it, sorry. He's on PTO for another week, but @jasondlee _may_ have.

[2022-03-11 06:56] jomarko commented on #312
@bartoszmajsak hello, unfortunately no, our project is using arquillian just with junit 4.

[2022-03-14 11:24] mabartos commented on #312
@bartoszmajsak Same as @jomarko

[2022-03-15 05:35] olamy commented on #312
@Chavelp sounds good maybe you could contribute a PR?

[2022-03-15 06:08] Chavelp commented on #312
Hi, Olivier.

The point is that it could not be a final solution. It's just a
workaround that makes things work, but is not efficient. I think the final
solution requires spending more time knowing the arquillian/graphene code
to look for it. I really would like to have this time and contribute, but
I'm just a developer with two little kids that just work at his company at
the beginning of the day

[2022-03-15 06:11] olamy commented on #312
hehe we all have this life 🤣
but yeah it need to be a more generic solution and not only graphene as could be useful for arquillian-jetty/tomcat etc...

[2022-04-27 11:29] allan-t commented on #331
I am also having this same issue. However it seems like it's not necessarily an issue with `@BeforeEach` but an issue with injected fields not being injected within the context of running tests within a `@Nested` class.

[code]

The above example is stripped down do highlight where Injection seems to work but my actual code looks very like the original example with an abstract arqullian test class

[2022-05-18 04:15] hantsy opened #388 "Add testcontainers support in the Remote adapter"
TestContainers[^1] becomes popular in these days.

When deploying to a running server using remote adapter, we have to prepare a server for it. Nowdays most of the application can be running in docker container.

Add support to combine `@TestsContainers` and `@Container`, and Arquillian `@Deployment`, and make sure application server is started and ready for remote deployment.

[^1]: [testcontaine

[2022-06-03 20:43] starksm64 opened #395 "Arquillian TestNG integration fails to execute its "arquillian" group methods if a set of groups is specified in surefire"
Copied over from the old Red Hat JIRA as this issue still impacts the CDI TCK Java SE tests.

##### Issue Overview

[Tomas Remes] added a comment -
I came across this as well. This problem manifests simply in the case when you specify some included testgroup in the surefire plugin. The Arquillian @BeforeSuite method doesn't belong to this testgroup (it seems that inheritGroups param is not evaluat

[2022-06-28 15:50] bartoszmajsak commented on #388
We do have Arquillian Cube which provides similar capabilities (but it's dusty) - just to point out. No opinion on how to move forward :)

[2022-06-29 01:44] hantsy commented on #388
but there is no activity in Arquillian Cube for years.

[2022-06-29 02:18] phillipross commented on #388
@bartoszmajsak  "dusty" is generous 😁

@hantsy have you done or seen any projects producing arquillian container extensions to use testcontainers as an arquillian container?  I've done it before writing very specific code, but it would be nice to see a more general framework-level way of doing it.

[2022-06-29 06:27] bartoszmajsak commented on #388
Ok so if I understand it right there's interest from the community to create integration with TestContainers, but there's no interest from the same community to help keep Cube up-to-date?

[2022-06-29 17:04] phillipross commented on #388
@bartoszmajsak It depends on what your notion of "the community" might be.

There is a large community of people already using TestContainers project directly from their test frameworks, without using arquillian or arquillian-cube.  This is the community that powers the demand that keeps the momentum behind the testcontainers project.

There is a separate group of people that have some interest in

[2022-06-29 17:56] bartoszmajsak commented on #388
I specifically meant ppl interested in this feature for Arquillian. It wasn't my intention to be harsh with my previous comment, my only point is that both things will require effort and I am wondering what's best.

What's the gap we are seeing here? Would be good to identify so we can make a good decision.

[2022-06-29 19:35] phillipross commented on #388
Right, and I realize now that I actually didn't qualify the group of people as well as I could.  To try to re-characterize this group of people, and @hantsy can correct me if I'm inaccurate about this, it would be the group of people who've already adopted TestContainers and would actually like to continue to use that as test orchestration but also use arquillian to deploy to the orchestrated cont

[2022-06-30 02:04] hantsy commented on #388
@phillipross I have tried to user testcontainers(`@Testcontainers` and `@Container`) and Aquillian together, it did not work as expected. I found some scripts on Github to create a `LoadableExtension` to ensure testcontainers docker service is running before deploying, but it is not a generic framework.

[2022-06-30 02:11] hantsy commented on #388
@bartoszmajsak I am NOT sure which is a better solution. For me, I have used Testcontainers frequently in Spring projects.
In an integration testing env, I would like it supports database, key-value db(redis), message broker, application servers through a simple configuration.

[2022-06-30 02:16] phillipross commented on #388
Gotcha, that's pretty much what I discovered too.  I had to write a loadable extension with some hardcoded descriptors and I also had to make some modifications to the arquillian container to properly handle portmapping.  It works but it's not too flexible.  It'd probably take a lot of work to turn it into a framework.

[2022-06-30 07:55] bartoszmajsak commented on #388
@hantsy Can you share those gists with `LoadableExtension`?

[2022-07-01 10:50] kiview commented on #388
I'd also be happy to chime in if any input or advice from the Testcontainers side of things is helpful 🙂
Do I understand it correctly that the integration of Arquillian with Testcontainers would allow doing `@SpringBootTest` style in-process transparent-box tests for Jakarta applications? In the past, I only used Jakarta in conjunction with Testcontainers for out-of-process opaque-box testing, whe

[2022-07-01 11:55] iocanel commented on #388
@bartoszmajsak from my perspective there is definitely demand of a framework that would allow you users to test their apps in the context of a container / container orchestration technologies. However, I feel that most people favor simplicity over anything else and often resort to `poor-man in-house` solutions that are tailor-made to their needs vs picking up a tool like arquillian-cube. This is m

[2022-07-04 05:44] phillipross commented on #388
@kiview I'm not sure if this answers your question or not... but arquillian has the its own notion of a "container" which doesn't help see things any clearer.  The word "container" is heavily overloaded at this point 😅

I think a fair way to say it is that arquillian's notion of container is a wrapper around some other component runtimes that are also called containers.  Examples of these might be

[2022-07-07 08:23] kiview commented on #388
Thanks for the detailed explanation @phillipross. Let me know if there is anything we can do from the Testcontainers side of things to support any efforts in this direction. TBH, most of the time Testcontainers would be used to spin-up other dependencies (e.g. databases) and not necessarily the _container_ into which the application is deployed (although this is of course also possible).

But if I

[2022-07-07 13:48] hantsy commented on #388
@kiview Yeah, all Jakarta EE compatible application server, such as Payara, WildFly, Open Liberty provide docker images.

When using a remote adapter, we have to prepare a running application server before running the tests. The test itself will package the test classes(defined by `@Deployment`) into an archive(jar or war, ear) and deploy into the running server, then run the test against the depl

[2022-07-07 13:52] phillipross commented on #388
Thanks for the offer of assistance!

This is absolutely correct, and probably the primary use case

This is also the case, that all containers would ideally be orchestrate-able from the test.  I've not done it yet with testcontainers, but it seems like the ability for testcontainers to use docker compose is helpful here

[2022-07-27 03:02] jhanders34 opened #408 "Provide a REST protocol to be able to run tests that cannot use the servlet protocol"
##### Issue Overview

Today arquillian has a servlet dependency in order to run a test on the application server. To test functions like CDI and RESTful Web Services that do not require servlet, this is not suitable since MicroProfile and now Core Profile in Jakarta EE 10 do not require the application server to expose servlet API and function in applications. Arquilian should provide a way to run

[2022-07-27 19:11] jamezp commented on #408
Just to link it here, I've filed https://issues.redhat.com/browse/WFARQ-112 for the WildFly Arquillian Adapter.

[2022-07-28 01:27] #408 closed

[2022-07-28 03:40] starksm64 opened #414 "Unable to build with -Prelease due to javadoc error"
##### Issue Overview

The current release build is failing if the release profile is enabled due to a javadoc error.

##### Expected Behaviour
The release builds

##### Current Behaviour
The build fails when generating the javadoc for the arquillian-core-api module:

[code]

##### Steps To Reproduce
1. cd arquillian-core/core/api
2. mvn -Prelease compile javadoc:javadoc

##### Additional Informati

[2022-07-28 11:48] bartoszmajsak commented on #414
I was able to cut the release using JDK 8.

[code]

It's in the staging repo - so don't worry.

Opened PR with the fixes.

[2022-07-28 12:55] chengfang commented on #414
Are we ready to do a final release of 1.7.0, instead of Alpha? I see community request for such a final release (https://github.com/arquillian/arquillian-core/issues/336). It would also help WildFly to finalize wildfly-arquillian and use final releases in tests.

[2022-07-28 13:16] bartoszmajsak commented on #414
It depends how final is junit5 integration. I think it's still in somewhat alpha stage. The rest is rather stable in my eyes.

[2022-07-28 13:49] #414 closed

[2022-07-28 20:57] jamezp commented on #414
I think a decision on #312 should be made before final. If it's Arquillian method parameter injection is no longer supported, then it could be a case where some users need to make changes before they can migrate.

[2022-07-30 08:08] hantsy commented on #388
@bartoszmajsak  @kiview

The newest Arquillian 1.7.0.Alpha11 provides an  automatic deployment SPI and @BeforeDeployment make it possible to start the the testcotnaienrs container before deployment.

I am trying to create an example to combine the `AutomaticDeployment` service and testcontainers `@Container`.

[code]

Register the `GreetingResourceDeployment` via service loader.

[code]

But I am

[2022-07-30 15:25] jhanders34 opened #418 "Update bom to include new protocol-rest-jakarta artifact"
##### Issue Overview

The 1.7.0.Alpha11 release arquillian bom does not include the new arquillian-protocol-rest-jakarta project added as part of issue #408.

##### Expected Behaviour

By specifying:

[code]

you should not need to provide a version when specifying the arquillian-protocol-rest-jakarta depenedency.

##### Current Behaviour

When specifying the bom dependency you still need to provi

[2022-08-09 09:31] kiview commented on #388
On a first look, there are some issue with this container definition:
[code]

`.asCompatibleSubstituteFor("jboss/wildfly")` is not needed.
[code]

The effect of this is that you first set the Docker CMD to `/opt/jboss/wildfly/bin/add-user.sh admin Admin@123 --silent` and then set it to `"/opt/jboss/wildfly/bin/standalone.sh", "-b", "0.0.0.0", "-bmanagement", "0.0.0.0`. I think what you want is wra

[2022-08-09 09:45] hantsy commented on #388
@kiview  I have updated the command to https://github.com/hantsy/arquillian-autodeployment-example/blob/master/src/test/java/com/example/it/GreetingResourceTest.java#L43-L47.

I think the Docker startup is no problem, **but I can not find any log of preparing deployment archive and deploying progress**.

And how to connect the current test to the specific `AutomaticDeployment` if there are multi a

[2022-08-15 20:23] jamezp opened #422 "[feature-request] Allow for injected URL's and URI's to allow for https connections"
##### Issue Overview

Currently when injecting a `URL` or `URI` with an `@ArquillianResource` the protocol is always "http". There should be ability to allow for "https" connections.

This can be accomplished while keeping backwards compatibility. Defaulting to "http" seems reasonable, but allowing the `HTTPContext` to be known as a "secure" context could allow "https" to be used for the protocol.

[2022-08-24 17:07] #422 closed

[2022-09-14 17:17] lprimak opened #427 "TestNG fails with versions 7.6 and up"
When upgrading to versions of 7.6 or higher of TestNG, Arquillian stops working

Reproducer: https://github.com/flowlogix/test-arq-suite/tree/TestNG
- update pom.xml to use the latest testng (7.6 or higher)
`mvn verify` (TestContainers-based, docker required)
`mvn verify -Ppayara-server-managed` (will locally download and run Payara-based tests)

Exception:
[code]

[2022-10-13 19:53] jhanders34 opened #436 "rest-jakarta protocol can conflict with application REST Application."
##### Issue Overview

When using the rest-jakarta protocol, there is a conflict with the ApplicationPath in RESTProtocolApplication and other applications with the same ApplicationPath.  The ApplicationPath is set to /.  The Path and ApplicationPath should be switched since the ApplicationPath should be unique.

##### Expected Behaviour

The rest-jakarta TestRunner logic should not cause a conflic

[2022-10-14 02:24] #436 closed

[2022-10-28 06:57] lprimak commented on #427
This will surely affect MicroProfile TCK at some point @Emily-Jiang

[2022-10-28 16:12] Emily-Jiang commented on #427
Thanks for tagging me! Yes, this will affect MicroProfile TCK for sure.

[2022-11-09 16:32] fanste commented on #312
Found another solution, which requires some more changes to the codebase. I will try to create a example repo with my changes.

- Register a JUnit `ParameterResolver` which fires a custom lifecycle event (`extends TestLifecycleEvent`) in `#supportsParameter` to be able to use arquillian internals.
- This event is handled by an observer and collects the parameters as it is normally done by `LocalTe

[2022-11-19 11:00] #427 closed

[2022-11-24 08:30] RzaAlbert opened #444 "Jakarta EE 10"
My REST Api were working properly(all tests passed), but recently i have done migration to Jakarta EE 10 and i think that arquillian adapters are not compatible with the new version. When i try to run the tests i get:

java.lang.RuntimeException: Could not create new instance of class org.jboss.arquillian.test.impl.EventTestRunnerAdaptor

My pom.xml:
<dependency>
    <groupId>org.jboss.arquillian.

[2022-11-24 15:47] bartoszmajsak commented on #444
Can you share code snippets and errors you are getting? Or even better - a small project serving as reproducer will be great to nail down the issue.